body {
    font: 15px/1.5;
    font-family: 'Comfortaa', cursive;
    background-color: #f4f4f4;
}

/* header */
header {
    background: #2994B2;
}

header a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

header a:hover {
    color:  #2fadd0;
}

header a.activePage {
    color:  #2fadd0;
    font-weight: bolder;
}

nav .name {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

nav .name h1 {
    color: #ffffff;
}

nav .name a {
    font-size: 30px;
    text-transform: none;
}

@media only screen and (min-width: 992px) {
	nav #navbarNav {
		justify-content: flex-end;
	}
}

nav li {
    padding: 0px 20px 0px 20px;
}

/* SHOWCASE */

.showcase {
    background-color:#1a7d99;
    color: #fff;
}

.showcase h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.showcase p {
    font-size: 20px;
}

.showcase p a {
    color: #fff;
    text-decoration: none;
}

.showcase .botdescription .logo img {
    width: 10em;
    height: 10em;
}

.showcase .botdescription .text p a:hover {
    color: #008755;
    transition: 0.3s;
}

/* DESCRIPTION */
.description {
    background-color:  #1b6c8b;
    text-align: center;
    padding: 0 7rem;
    color: #fff;
}

.description p {
    font-size: 16px;
}


.description h1 {
    font-size: 20px;
}

/* FOOTER */

.footer {
    background-color: #2994B2;
    color: #fff;
    text-align: center;
}

.footer p a {
    text-decoration: none;
    color: #fff;
}
