body {
    font: 15px/1.5;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
}

/* header */
header {
    background: #2994B2;
    padding-top: 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

header a:hover {
    color:  #2fadd0;
}

header a.activePage {
    color:  #2fadd0;
    font-weight: bolder;
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

nav .name {
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

nav .name h1 {
    margin: 0;
    color: #ffffff;
}

nav .name a {
    font-size: 30px;
    text-transform: none;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-top: 1.3rem;
}

nav li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

.showcase {
    background-color:#1a7d99;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items:center;
    color: #fff;
}

.showcase h1 {
    font-size: 50px;
    padding-bottom: 10px;
}

.showcase p {
    font-size: 20px;
}

.showcase p a {
    color: #fff;
    text-decoration: none;
}

.description {
    background-color:  #a8e1f0;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding: 0 7rem;
    color: #fff;
}

.description p {
    font-size: 16px;
}

.showcase .botdescription {
    display: flex;
    flex-flow: row wrap;
}

.showcase .botdescription .logo {
    padding-top: 15px;
    display: flex;
    padding-right: 10px;
}

.showcase .botdescription .logo img {
    widows: 13em;
    height:13em;
}

.showcase .botdescription .text {
    display: flex;
    flex-flow: column wrap;
}

.showcase .botdescription .text p a:hover{
    color:#008755;
    transition: 0.3s;
}

.footer {
    display: flex;
    justify-content: flex-end;
    background-color: #2994B2;
    color: #fff;
    align-items: baseline;
    padding: 0 1rem 0.5rem 0;
    text-align: center;
}


.footer p a {
    text-decoration: none;
    color: #fff;
}
