body {
    font: 15px/1.5;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}


.container {
    width: 80%;
    overflow: hidden;

}


/* header */

header {
    background: #006666;
    padding-top: 0.1rem;
    min-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    color:  #009999;
}

.reddit:active{ 
    color: #009999;
}

header #name {
    float: left;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}

header #name h1 {
    margin: 0;
    color: #ffffff;
}

header #name a {
    font-size: 22px;
    text-transform: none;
}

header a.activePage { 
    color: #009999;
}

header nav {
    float: right;
}

header ul {
    margin: 0;
    padding: 0;
    float: right;
    padding-top: 1.3rem;
}

header li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

#showcase {
    background-color: #003333;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    margin: 0;
}


